body{
  font-size: 100%;
  color: #3c3c3c;
  background-color: #fff;
  font-family: 'Kameron', serif;
  position: relative;
}


/*TEXT STYLES
=========================================*/
p{
  font-size: 1em;
  color: #3c3c3c;
}

h1{
  font-size: 1.5em;
  color: #6EB4ED;
  font-family: 'Sansita One', cursive;
}

h2{
  font-size: 1em;
  color: #6EB4ED;
  font-style: italic;
}

article{
  margin: 2.5%;
}

footer {
  height: 2em;
  padding: 1em;
  border-top: 1px solid #3c3c3c;
}

time {
  font-weight: bold;
}

/*LINK STYLES
=======================================*/

a, a:link, a:active {
  text-decoration: none;
  color: #fff;
}

a:hover, a:focus {
  color: #6EB4ED;
}
