.page-header, footer {
  color: #fff;
  padding-bottom: 2%;
}

.header-title {
  max-width: 80%;
}

.page-header::after {
  content: "";
  display: table;
  clear: both;
}

#about, #github-info {
  margin: auto;
  max-width: 60%;
  background-color: rgba(255, 255, 255, 0.8);
}

#home {
  height: 400px;
  width: 150px;
  display: inline-block;
}
