.page-header, footer {
  background-image:
  linear-gradient(rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)), url('../img/trees.png');
  color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 15%;
}

.header-title {
  max-width: 80%;
}

.page-header::after {
  content: "";
  display: table;
  clear: both;
}

#about {
  margin: 1em 1.5em 10em 1.5em;
  width: 90%;
}

.template {
  display: none;
}

article:not(:last-child) {
  border-bottom: 2px solid #3c3c3c;
}

#github-info {
  margin-top: 5em;
}
