.header-title {
  float:left;
  padding: 0 0 .2em 1em;
}

.main-title {
  font-size: 3em;
  color: #fff;
}

.second-title {
  font-size: 1.5em;
  font-style: italic;
  color: #fff;
  font-family: 'Sansita One', cursive;
}

.icon-menu {
  float: right;
  font-size: 1.5em;
  margin: 1em .75em 0 0;
}

.main-nav {
  padding: 0.1em;
}

.main-nav ul {
  display: none;
  list-style: none;
  clear:both;
}

.main-nav:hover ul {
  display:block;
}

.main-nav li {
  margin-right: .4em;
  font-size: 1.2em;
  font-weight: bolder;
  padding: .5em .2em;
  border: 1px solid #fff;
  border-radius: 10%;
  max-width: 70%;
}

@media only screen and (min-width: 640px) {
  .icon-menu{
    display: none;
    }

  .main-nav li {
    display: inline-block;
    clear: both;
    padding: .5em 1em;
    }

  .main-nav ul {
    display: block;
  }

  .main-nav:hover ul {
    display: block;
  }
}

.template {
  display: none;
}

.profile {
  height: 100px;
  width: 100px;
  float: left;
}

#filters {
  padding: 2em;
}

#about {
  margin: 1em 1.5em 10em 1.5em;
}
